src/main/resources/operation_response.xsd

<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="urn:com.company.namespace.app.v01"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="operationResponse" type="urn:OperationResponse" xmlns:urn="urn:com.company.namespace.app.v01" />
    
    <xs:complexType name="OperationResponse">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="acknowledge" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>